# Google Photos API
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

# Image processing
Pillow
requests

# Local LLM (Ollama)
ollama
langchain-ollama
langchain-core

# UI Framework
gradio

# data handling
pandas
pyarrow
logging
pydantic
pytesseract